*{box-sizing: border-box;}
.loading{
    background-color: rgba(204, 204, 204, 0.77);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loading.loading-hide{
    display:none;
}
.loading .load-pic{
    width: 280px;
    height:13px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.swiper-container-vertical>.swiper-pagination-bullets{
    right: 1rem;
    top: 40%;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    background-color:#fafafa;
}
.swiper-pagination-v{
    right:1rem;
}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-v .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
    background: #FFF;
    width:.15rem;
    height:.15rem;
    border:2px solid #FFF;
}
.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-v .swiper-pagination-bullet-active{
    background: #33b752;
}

.flex-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.s_pc header{
    height: 1.2rem;
    background-image: url(../imgs/topbg.jpg);
}
.s_pc header .logo{
    width: 1.56rem;
    height: 1.2rem;
    background: url(../imgs/logo.png) no-repeat right center;
    float: left;
    background-size: .56rem auto;
}
.s_pc header nav {
    float: left;
    margin-left:.4rem;
}
.s_pc header nav a {
    display: inline-block;
    padding: 0 .16rem;
    color: #FFF;
    line-height: 1.2rem;
    margin-right: .05rem;
    font-size:.2rem;
}
.s_pc header .tel {
    background: url(../imgs/telphone.png) no-repeat left center;
    float: right;
    height: 1.2rem;
    line-height: 1.2rem;
    padding-left: .5rem;
    margin-right: 1rem;
    color: #FFF;
    background-size:.3rem auto;
}

.s_pc .swiper-container-v{
    position:absolute;
    top:1.2rem;
    bottom:0;
    left:0;
    right:0;
}

.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1){
    background-image: url('../imgs/bg1.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: flex-start;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center{
    flex:1;
    width:100%;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .platform-enter{
    height:.6rem;
    width:100%;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .title{
    margin-top:10.5%;
    font-size:.34rem;
    font-family:'LiSu';
    color:#FFF;
    margin-bottom:.2rem;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .for{
    font-size:.16rem;
    margin-bottom:.36rem;
    color:#fff;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .search-content{
    width:6rem;
    margin: 0 auto;
    height:.8rem;
    position:relative;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .search-content input{
    width:4.4rem;
    height:.8rem;
    box-sizing: border-box;
    float: left;
    background:#FFF;
    border:none;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .search-content .search-down{
    background-image: url(../imgs/down.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    position: absolute;
    right: .8rem;
    top: 0;
    background-size: .23rem auto;
    background-color:#FFF;
    border-left:1px solid #FFF;
}
.s_pc .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(1) .swiper-center .search-content .search-btn{
    width:.8rem;
    height:.8rem;
    background-color: #0e3369;
    background-image: url(../imgs/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:.44rem;
    float:right;
}
.s_pc .pro-pic-box{
    height:.5rem;
    width:6rem;
    margin:.2rem auto;
}
.s_pc .pro-pic-box .line{
    flex:1;
    height:50%;
    border-bottom:1px solid #FFF;
}
.s_pc .pro-pic-box .pro-pic{
    width:4rem;
    background-position:center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image:url('../imgs/pro2.png');
}




.s_pc .platform-enter{
    background-color:rgba(0,0,0,.5);
}
.s_pc .platform-enter nav{
    width:9.66rem;
    margin:0 auto;
}
.s_pc .platform-enter nav a{
    width:2.4rem;
    border-left:1px solid #9faea9;
    height:.6rem;
    font-size:.14rem;
    color:#FFF;
    flex-direction: column;
    float:left;
    padding-left:.7rem;
    background-repeat: no-repeat;
    background-position:.3rem center;
    background-size:.3rem auto;
}
.s_pc .platform-enter nav a:nth-child(1){
    background-image:url('../imgs/ico1.png');
}
.s_pc .platform-enter nav a:nth-child(2){
    background-image:url('../imgs/ico2.png');
}
.s_pc .platform-enter nav a:nth-child(3){
    background-image:url('../imgs/ico3.png');
}
.s_pc .platform-enter nav a:nth-child(4){
    background-image:url('../imgs/ico4.png');
}
.s_pc .platform-enter nav a span{
    display:block;
    text-align:left;
    flex:1;
    line-height:.3rem;
}
.s_pc .platform-enter nav a:last-child{
    border-right:1px solid #9faea9;
}

.s_pc .swiper-2{
    width:100%;
    height:100%;
    flex-direction:column;
    background-color: #fafafa;
}
.s_pc .swiper-2 .swiper-container-h{
    flex:1;
    margin: 1.6rem 24% 0;
    overflow:hidden;
    z-index: 100;
}
.s_pc .swiper-2 .swiper-container-h .swiper-slide {
    width: 90%;
    border: 5px solid #FFF;
    background-size: cover;
}
.s_pc .swiper-2 .platform-detail{
    height:30%;
    width:8.4rem;
    margin:0 auto;
}
.s_pc .swiper-2 .platform-detail .platform-detail-title{
    font-size:.24rem;
    font-family: 'LiSu';
    height:.6rem;
    line-height:.6rem;
}
.s_pc .swiper-2 .platform-detail .platform-detail-content{
    font-size:.14rem;
    line-height:.3rem;
    text-align:left;
}
.s_pc .swiper-pagination-h{
    margin:.3rem;
}
.s_pc .swiper-pagination-h .swiper-pagination-bullet{
    margin-right: .2rem;
    background-color:#9faea9;
}
.s_pc .swiper-pagination-h .swiper-pagination-bullet-active{
    background-color:#33b752;
}
.s_pc .swiper-button {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 30%;
    z-index: 0;
}

.s_pc .swiper-3{
    flex-direction:column;
    width:100%;
    height:100%;
}
.s_pc .swiper-3 .solution-row{
    flex:1;
    width:100%;
    background-image:url("../imgs/bg3.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: .6rem;
}
.s_pc .swiper-3 .solution-row .solution-top{
    width:9.6rem;
    height:100%;
    margin:0 auto;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col{
    height:100%;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col:first-child{
    width:4.5rem;
    background-image:url('../imgs/zhu.png');
    background-position:center center;
    background-size:90% auto;
    background-repeat:no-repeat;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col:last-child{
    flex:1;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col .solution-words{
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    height:100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 1.52rem;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col .solution-title{
    font-family:'LiSu';
    font-size:.3rem;
    margin:.3rem 0;
    width:3rem;
    color:#224d5e;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col .solution-content{
    font-size:.14rem;
    line-height:.24rem;
    /*margin:0 auto;*/
    /*width:3rem;*/
    width:100%;
    color:#FFF;
}
.s_pc .swiper-3 .solution-row .solution-top .solution-col .solution-understand{
    font-size:.2rem;
    color:#FFF;
    background-color:#1f377c;
    /*width:.3rem;*/
    /*margin:0 auto;*/
    height:.6rem;
    width:100%;
    line-height: .6rem;
    margin-top:.15rem;
}

.s_pc .swiper-3 .solution-icon-row2{
    height:3.2rem;
    background-color:#FFF;
    width:100%;
}
.s_pc .swiper-3 .solution-icon-row2 .solution-icon-box{
    width:9.4rem;
    margin:.3rem auto 0;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.s_pc .swiper-3 .solution-icon-row2 .solution-icon-box .solution-icon {
    width:1.1rem;
    height:1.1rem;
    background-position:center .1rem;
    background-repeat: no-repeat;
    flex-direction: column;
    margin: .1rem .2rem;
}
.s_pc .swiper-3 .solution-icon-row2 .solution-icon-box .solution-icon div{
    flex:1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:.6rem auto;

}
.s_pc .swiper-3 .solution-icon-row2 .solution-icon-box .solution-icon p{
    height:.35rem;
    font-size:.14rem;
}

.s_pc .swiper-5{
    width:8.6rem;
    margin:1.5rem auto 0;
    height:100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color:#fafafa;
}
.s_pc .swiper-5 .product-title{
    font-size:.3rem;
    font-family:'LiSu';
}
.s_pc .swiper-5 .product-top-more{
    margin-top:.2rem;
    margin-bottom:.2rem;
    text-align: right;
    font-size:.14rem;
    color:#58635f;
}
.s_pc .swiper-5 .product-pic-box{
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content:space-between;
    -webkit-justify-content: space-between;
}
.s_pc .swiper-5 .product-pic-box .col-3{
    padding:.05rem .05rem .3rem .05rem;
    background-color:#FFF;
    position:relative;
}
.s_pc .swiper-5 .product-pic-box .product-pic{
    background-image:url('../imgs/product_03.png');
    background-repeat:no-repeat;
    background-size:contain;
    width:2.27rem;
    height:2.27rem;
    background-position:center center;
}
.s_pc .swiper-5 .product-pic-box .product-pic-title{
    font-size:.14rem;
    margin-top:.25rem;
}
.s_pc .swiper-5 .product-pic-box .qrCode{
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(204, 204, 204, 0.51);
    position:absolute;
}
.s_pc .swiper-5 .product-pic-box .qrCode .erw{
    width:2rem;
    height:2rem;
    background-image:url("../imgs/erw.jpg");
    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;
    margin:.15rem auto 0;
}
.s_pc .swiper-5 .product-pic-box .col-3:hover .qrCode{
    display:block;
}

.s_pc .swiper-6{
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content:flex-start;
    width:100%;
    height:100%;
}
.s_pc .swiper-6 .contact-title{
    margin-top:1.7rem;
    font-size:.3rem;
    font-family: 'LiSu';
    margin-bottom:.4rem;
}
.s_pc .swiper-6 .contact-nav{
    width:12rem;
    margin:0 auto;
    height:.6rem;
}
.s_pc .swiper-6 .contact-nav a{
    flex:1;
    text-align: center;
    background-color:#58635f;
    color:#FFF;
    font-size:.18rem;
    line-height: .6rem;
    border-right:1px solid #47544f;
}
.s_pc .swiper-6 .contact-nav a:last-child{
    border-right:0;
}
.s_pc .swiper-6 .contact-nav a.active{
    background-color:#31a948;
}
.s_pc .swiper-6 .contact-content{
    width:6.2rem;
    margin:.4rem auto 0;
    flex:1;
}
.s_pc .swiper-6 .contact-content form{
    width:100%;
}
.s_pc .swiper-6 .contact-content label{
    flex:1;
    text-align: right;
    line-height: .4rem;
    font-size:.16rem;
    color:#58635f;
    margin-right:.05rem;
}
.s_pc .swiper-6 .contact-content label .col-red{
    color:#e71a32;
    font-size:.2rem;
    padding:0 5px;
}

.s_pc .swiper-6 .contact-content .input-control{
    width:5.15rem;
    height:.4rem;
    margin-bottom:.2rem;
    position: relative;
}
.s_pc .swiper-6 .contact-content .form-control:last-child{
    margin-bottom:0;
}
.s_pc .swiper-6 .contact-content .input-control input,.s_pc .swiper-6 .contact-content .input-control select{
    background:#eeeeee;
    border:none;
    width:100%;
    height:100%;
    padding:0 .16rem;
}
.s_pc .swiper-6 .contact-content .input-control select{
    max-height:1rem;
}
.s_pc .swiper-6 .contact-content .input-control:last-child .submit{
    height:.6rem;
    background-color: #31a948;
    font-size:.18rem;
    color:#FFF;
    line-height: .6rem;
}

.s_pc .swiper-7{
    background-image:url('../imgs/bg7.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    padding-top:15%;
}
.s_pc .swiper-7 .contact-box{
    width: 100%;
    height:2.2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.s_pc .swiper-7 .contact-box .ewmPic{
    width:2.45rem;
    height:100%;
    padding-right:.55rem;
    border-right:1px solid rgba(0, 0, 0, 0.70);
}
.s_pc .swiper-7 .contact-box .ewmPic img{
    width:100%;
}
.s_pc .swiper-7 .contact-box .ewmPic p{
    font-size:.14rem;
}
.s_pc .swiper-7 .contact-box .company-detail{
    margin-left:.55rem;
    height:100%;
    text-align: left;
}
.s_pc .swiper-7 .contact-box .company-detail .logo{
    background-image: url("../imgs/hnlogo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:1.2rem auto;
    height:.4rem;
}
.s_pc .swiper-7 .contact-box .company-detail .logo p{
    font-size:.12rem;
    margin-left:1.32rem;
    padding-left:.12rem;
    border-left:1px solid rgba(0, 0, 0, 0.70);
}
.s_pc .swiper-7 .contact-box .company-detail .contact-us{
    margin-top:.3rem;
    font-size: .2rem;
    margin-bottom:.25rem;
}
.s_pc .swiper-7 .contact-box .company-detail .contact-l{
    font-size:.16rem;
    background-position:left center;
    background-repeat: no-repeat;
    padding-left:.3rem;
    margin-bottom:.2rem;
    background-size:0.18rem auto;
}
.s_pc .swiper-7 .contact-box .company-detail .contact-phone{
    background-image:url("../imgs/contact-icon_09.png");
}
.s_pc .swiper-7 .contact-box .company-detail .contact-mail{
    background-image:url("../imgs/contact-icon_13.png");
}
.s_pc .swiper-7 .contact-box .company-detail .contact-add{
    background-image:url("../imgs/contact-icon_17.png");
}

.s_pc .swiper-4{
    width:100%;
    height:100%;
    background-image:url("../imgs/bg4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.s_pc .swiper-4 .company-title{
    margin-top:1.85rem;
    font-size:.3rem;
    font-family: 'LiSu';
    color:#FFF;
}
.s_pc .swiper-4 .company-content{
    width:11.7rem;
    height:3.7rem;
    margin:.6rem auto;
    position: relative;
}
.s_pc .swiper-4 .company-content .company-l{
    background-position:center center;
    background-size:contain;
    background-repeat: no-repeat;
    position:absolute;
    width:3.04rem;
    height:.97rem;
}
.s_pc .po_1{
    top:0;
    left:2.14rem;
}
.s_pc .po_2{
    top:.2rem;
    right:.2rem;
}
.s_pc .po_3{
    top:1.64rem;
    left:0;
}
.s_pc .po_4{
    top:1.3rem;
    left:4.63rem;
}
.s_pc .po_5{
    top:2.43rem;
    right:0;
}
.s_pc .po_6{
    bottom:0;
    left:2.94rem;
}
.s_pc .swiper-4 .company-more{
    flex:1;
}
.s_pc .swiper-4 .company-more a{
    font-size:.19rem;
    color:#1c3e4f;
}

@media only screen and (max-height:760px){
    .s_pc .swiper-2 .swiper-container-h,.s_pc .swiper-5,.s_pc .swiper-6 .contact-title{
        margin-top:.4rem;
    }
    .s_pc .swiper-4 .company-title{
        margin-top:.8rem;
    }
    .s_pc .swiper-7{
        padding-top:10%;
    }
}